html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
}
.bloque1 {
    text-align: justify;
    display: flex;
}
aside {
    width: 30%;
    font-style: italic;
    background-color: goldenrod;
    padding-left: 5px;
    text-align: center;
}
.imgTxt {
    display: flex;
}
.imagen {
    width: 50%;
}
#foto{
    width: 90%;
}
.textoLateral {
    width: 50%;
}
.pieFoto {
    text-align: center;
}
